<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/fruits">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price">
        <br>
        <label for="readyToEat">Is it ready to eat? </label>
        <input type="checkbox" name="readyToEat" id="readyToEat">
        <br>
        <label for="image">Image URL: </label>
        <input type="text" name="image" id="image">
    
        <input type="submit" value="Create Baked Goods" />
</body>
</html>